# Files to ignore on git archive
.gitattributes export-ignore
.gitignore     export-ignore
.github/       export-ignore
assets/**      export-ignore

# Enforce Unix line endings in repo and checkout
* text=auto eol=lf

# LFS-tracked file patterns
*.whl filter=lfs diff=lfs merge=lfs -text
